In [3]:
import pandas as pd

In [4]:
#Data Mining
df=pd.read_csv('EmpData.csv')

In [5]:
df.head()

   company        Job     Degree  Salary
0  Infosys      Sales   Graduate  <50000
1  Infosys      Sales  Post Grad  >50000
2  Infosys  Developer   Graduate  <50000
3  Infosys  Developer  Post Grad  >50000
4  Infosys    Manager   Graduate  <50000

In [7]:
x= df.drop('Salary',axis='columns')
x

    company        Job     Degree
0   Infosys      Sales   Graduate
1   Infosys      Sales  Post Grad
2   Infosys  Developer   Graduate
3   Infosys  Developer  Post Grad
4   Infosys    Manager   Graduate
5   Infosys    Manager  Post Grad
6     Wipro      Sales   Graduate
7     Wipro  Developer   Graduate
8     Wipro  Developer  Post Grad
9     Wipro    Manager  Post Grad
10      TCS      Sales   Graduate
11      TCS      Sales  Post Grad
12      TCS  Developer   Graduate
13      TCS  Developer  Post Grad
14      TCS    Manager   Graduate
15      TCS    Manager  Post Grad

In [8]:
y=df['Salary']

In [9]:
from sklearn.preprocessing import LabelEncoder
Company_l=LabelEncoder()
Job_l=LabelEncoder()
Degree=LabelEncoder()

In [10]:
x['Job_N']=Job_l.fit_transform(x['Job'])

In [11]:
x['Company_N']=Company_l.fit_transform(x[' company'])

In [12]:
x['Degree_N']=Degree.fit_transform(x['Degree'])

In [14]:
x

    company        Job     Degree  Job_N  Company_N  Degree_N
0   Infosys      Sales   Graduate      2          0         0
1   Infosys      Sales  Post Grad      2          0         1
2   Infosys  Developer   Graduate      0          0         0
3   Infosys  Developer  Post Grad      0          0         1
4   Infosys    Manager   Graduate      1          0         0
5   Infosys    Manager  Post Grad      1          0         1
6     Wipro      Sales   Graduate      2          2         0
7     Wipro  Developer   Graduate      0          2         0
8     Wipro  Developer  Post Grad      0          2         1
9     Wipro    Manager  Post Grad      1          2         1
10      TCS      Sales   Graduate      2          1         0
11      TCS      Sales  Post Grad      2          1         1
12      TCS  Developer   Graduate      0          1         0
13      TCS  Developer  Post Grad      0          1         1
14      TCS    Manager   Graduate      1          1         0
15      TCS    Manager  Post Grad      1          1         1

In [16]:
y

0     <50000
1     >50000
2     <50000
3     >50000
4     <50000
5     >50000
6     <50000
7     <50000
8     >50000
9     >50000
10    <50000
11    >50000
12    >50000
13    >50000
14    >50000
15    >50000
Name: Salary, dtype: object

In [18]:
y.replace({'<50000':0,'>50000':1},inplace=True)

In [20]:
y

0     0
1     1
2     0
3     1
4     0
5     1
6     0
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
15    1
Name: Salary, dtype: int64

In [25]:
x1= x.drop([' company','Job','Degree'] ,axis='columns')

In [27]:
x1.head(1)

   Job_N  Company_N  Degree_N
0      2          0         0

In [29]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [31]:
model.fit(x1,y)

DecisionTreeClassifier()

In [33]:
model.score(x1,y)

1.0

In [35]:
model.predict([[1,1,0]])

C:\Users\Rakesh IBM\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)